!!Xft settings (esp. useful on Debian (based) systems?!)
Xft.antialias: true
Xft.hinting: true
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.lcdfilter: lcddefault

!!Fonts
!!Note: I have commented out all font lines below as I am very happy with the
!!default xterm font used on openSUSE (fixed, at 9x18, set in the file
!! "/usr/share/X11/app-defaults/XTerm").
!
!!Fonts can be specified in two ways; XLFD and XFT
!
!!1) X Logical Font Definition (XLFD), used (mostly?) for bitmap fonts
!!-fndry-fmly-wght-slant-sWdth-adstyl-pxlsz-ptSz-resx-resy-spc-avgWdth-rgstry-encdng
!
!XTerm*font: -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1
!XTerm*font: -schumacher-clean-medium-r-normal-*-15-*-*-*-*-*-*-*
!
!!2) X FreeType (XFT), used for like ttf, otf fonts rendered by freetype2
!
!XTerm*faceName: Monospace
!XTerm*faceSize: 10
!
!!Or in single line as below
!XTerm*faceName: xft:Monospace:size=10
!
!!We can even ommit 'xft' and just write as below, including other available
!!font properties
!XTerm*faceName: Liberation Mono:size=10:antialias=true:hintstyle=hintnone
!
!!By default, if both bitmap and trutype fonts are set, truetype is used. 
!!To start with truetype font disabled (to force use of XLFD font) use below
!XTerm*renderFont: false
!
!!Some fonts do not look good in bold mode
!XTerm*boldFont: false
!URxvt*boldFont: 


!!General settings.
*.scrollBar: false
*.scrollbarRight: false
*.saveLines: 2048
*.geometry: 100x24


!!Application specific settings
!URxvt*font: xft:Liberation Mono:size=10
URxvt*font: -misc-fixed-medium-r-normal--15-*-*-*-*-*-*-*
URxvt.letterSpace: -1
URxvt.transparent: true


!!Keyboard combinations like in other 'advanced' terminals.
!!Source: 
!!1) Arch wiki
!!2)`http://www.futurile.net/2016/06/14/xterm-setup-and-truetype-font-configuration/
XTerm.vt100.translations: #override \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)
    Shift <Keypress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)


!!Colors (check https://terminal.sexy for various schemes)
*.foreground:   #a8a19f
*.background:   #1b1918
*.cursorColor:  #a8a19f

! black
*.color0:       #1b1918
*.color8:       #766e6b

! red
*.color1:       #f22c40
*.color9:       #f22c40

! green
*.color2:       #5ab738
*.color10:      #5ab738

! yellow
*.color3:       #d5911a
*.color11:      #d5911a

! blue
*.color4:       #407ee7
*.color12:      #407ee7

! magenta
*.color5:       #6666ea
*.color13:      #6666ea

! cyan
*.color6:       #00ad9c
*.color14:      #00ad9c

! white
*.color7:       #a8a19f
*.color15:      #f1efee
